<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard Template for Bootstrap</title>
    <link th:href="@{/css/user/addUser.css}" rel="stylesheet">

</head>

<body>

<main>
    <div class="Content-Main">
    <form th:action="@{/addUser}" method="post">
        <h1>个人信息</h1>
        <span class="text1">请在文本框中完善您的个人信息：</span>
        <span style="font-size: 16px;color: red;" th:text="${data}"></span>
        <p>
        <div>
            <label>User_Id</label>
            <input type="text" name="user_id" class="form-control" placeholder="u1001">
        </div>

        <div>
            <label>User_Name</label>
            <input type="text" name="user_name" class="form-control" placeholder="luxin">
        </div>

        <div >
            <label>Password</label>
            <input type="text" name="password" class="form-control" placeholder="123456">
        </div>

        <div >
            <label>RealName</label>
            <input type="text" name="realname" class="form-control" placeholder="陆欣">
        </div>

        <div >
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" placeholder="2972127">
        </div>

        <div>
            <label>Address</label>
            <input type="text"  name="address" class="form-control" placeholder="河池">
        </div>

        <button type="submit">添加</button>

    </form>

        <form th:action="@{/userList}" method="get">
            <button class="btn" type="submit">返回主界面</button>
        </form>

    </div>

</main>

</body>

</html>