<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard Template for Bootstrap</title>
    <link th:href="@{/css/user/addUser.css}" rel="stylesheet">
</head>


<body>
<main>
    <div class="Content-Main">
        <form th:action="@{/authorizationUser}" method="post">
            <h1>个人信息</h1>
            <span class="text1">请在文本框中选择您的角色：</span>
            <p>

            <div>
                <label>UserId</label>
                <input th:value="${user.getUser_id()}" type="text" name="user_id" class="form-control"
                       placeholder="kuangshen">
            </div>

            <div>
                <label>RoleId</label>
                <select class="m-wrap" name="role_id" style="width: 782px; height: 35px;background-color: #DFDFDF;border: none;outline: none;padding: 2px 0;">
                    <option th:each="ur:${role}"
                            th:text="${ur.getRole_name()}" th:value="${ur.getRole_id()}" ></option>
                </select>
            </div>
             <p>
            <button type="submit">授权</button>

        </form>
    </div>
</main>
</body>
</html>