<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard Template for Bootstrap</title>
    <link th:href="@{/css/user/selectUser.css}" rel="stylesheet">

</head>


<body>
<main>
        <div class="Content-Main">
            <h1>个人信息</h1>
            <span class="text1">您的个人信息如下：</span>
            <p>
        <table>
            <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>真是姓名</th>
                <th>电话号码</th>
                <th>现居地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u:${user}">
                <td th:text="${u.getUser_id()}"></td>
                <td th:text="${u.getUser_name()}"></td>
                <td th:text="${u.getPassword()}"></td>
                <td th:text="${u.getRealname()}"></td>
                <td th:text="${u.getPhone()}"></td>
                <td th:text="${u.getAddress()}"></td>
                <td>
                    <a  th:href="@{'/toUpdateUser?id='+${u.getUser_id()}}" >修改</a>
                    <a  th:href="@{'/deleteUser?id='+${u.getUser_id()}}">删除</a>
                    <a  th:href="@{'/toAuthorizationUser?id='+${u.getUser_id()}}">用户授权</a>
                </td>
            </tr>
            </tbody>
        </table>

            <form th:action="@{/userList}" method="get">
                <button type="submit">返回主界面</button>
            </form>

    </div>
</main>
</body>
</html>