<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard Template for Bootstrap</title>
    <link th:href="@{/css/user/addUser.css}" rel="stylesheet">

</head>

<body>

<main>

    <div class="Content-Main">
    <form th:action="@{/updateUser}" method="post">
        <h1>个人信息</h1>
        <span class="text1">请在文本框中修改您的个人信息：</span>
        <p>

        <div>
            <input th:value="${user.getUser_id()}" type="hidden" name="user_id" class="form-control">
        </div>
        <!--<input type="" name="id" th:value="${user.getUser_id()}">-->
        <div>
            <label>UserName</label>
            <input th:value="${user.getUser_name()}" type="text" name="user_name" class="form-control">
        </div>

        <div>
            <label>Password</label>
            <input th:value="${user.getPassword()}" type="text" name="password" class="form-control">
        </div>

        <div>
            <label>Realname</label>
            <input th:value="${user.getRealname()}" type="text" name="realname" class="form-control">
        </div>

        <div>
            <label>Phone</label>
            <input th:value="${user.getPhone()}" type="text" name="phone" class="form-control">
        </div>

        <div>
            <label>Address</label>
            <input th:value="${user.getAddress()}" type="text" name="address" class="form-control">
        </div>

        <button type="submit">修改</button>

    </form>
        </div>

</main>

</body>

</html>