<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserList</title>
    <script src="http://at.alicdn.com/t/font_2701380_vobwdsbj8u.js"></script>
    <script src="//at.alicdn.com/t/font_2704666_e78qxi8iyi.js"></script>
    <link th:href="@{/css/user/userList.css}" rel="stylesheet">
</head>
<body>

<main>

    <form class="parent" th:action="@{/selectUser}" method="post">
        <div class="container" style="margin-left: 750px;">
            <input type="text" name="user" class="search" placeholder="u1001">
            <button style="width: 30px;padding: 0;margin:0;border-radius: 40px;background-color: #ffffff;border: black;">
                <svg class="icon">
                    <use xlink:href="#icon-fangdajing"></use>
                </svg>
            </button>
        </div>
    </form>

   <div>
    <a style="margin-left: 50px;margin-top: 0px;" th:href="@{/addUser}">
        <svg class="icon2" aria-hidden="true">
            <use xlink:href="#icon-tianjiajiahaoyoutianjiapengyou"></use>
        </svg>
    </a>
   </div>


    <div>
        <table>
            <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>密码</th>
                <th>真实姓名</th>
                <th>电话号码</th>
                <th>现居地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.getUser_id()}"></td>
                <td th:text="${user.getUser_name()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td th:text="${user.getRealname()}"></td>
                <td th:text="${user.getPhone()}"></td>
                <td th:text="${user.getAddress()}"></td>
                <td>
                    <a  th:href="@{'/toUpdateUser?id='+${user.getUser_id()}}">修改</a>
                    <a  th:href="@{'/deleteUser?id='+${user.getUser_id()}}">删除</a>
                    <a  th:href="@{'/toAuthorizationUser?id='+${user.getUser_id()}}">用户授权</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</main>

</body>

</html>