<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>食物首页</title>
    <script src="http://at.alicdn.com/t/font_2701380_vobwdsbj8u.js"></script>
    <script src="//at.alicdn.com/t/font_2704666_e78qxi8iyi.js"></script>
    <link th:href="@{/css/user/userList.css}" rel="stylesheet">
</head>
<body>
<main>

    <form class="parent" th:action="@{/selectFood}" method="post">
        <div class="container" style="margin-left: 750px;">
            <input type="text" name="food" class="search" placeholder="f0001">
            <button style="width: 30px;padding: 0;margin:0;border-radius: 40px;background-color: #ffffff;border: black;">
                <svg class="icon">
                    <use xlink:href="#icon-fangdajing"></use>
                </svg>
            </button>
        </div>
    </form>

    <div>
        <a style="margin-left: 50px;margin-top: 0px;" th:href="@{/addFood}">
            <svg class="icon2" aria-hidden="true">
                <use xlink:href="#icon-tianjiajiahaoyoutianjiapengyou"></use>
            </svg>
        </a>
    </div>


    <div>
        <table>
            <thead>
            <tr>
                <th>食材编号</th>
                <th>食材名称</th>
                <th>进货价</th>
                <th>库存</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fl:${foodList}">
                <td th:text="${fl.getFood_id()}"></td>
                <td th:text="${fl.getFood_name()}"></td>
                <td th:text="${fl.getInprice()}"></td>
                <td th:text="${fl.getStock()}"></td>
                <td>
                    <a  th:href="@{'/toUpdateFood?id='+${fl.getFood_id()}}" >修改</a>
                    <a  th:href="@{'/deleteFood?id='+${fl.getFood_id()}}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>