<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>食物首页</title>
    <link th:href="@{/css/user/selectUser.css}" rel="stylesheet">
</head>

<body>

<main>

    <div class="Content-Main">
        <h1>食材信息</h1>
        <span class="text1">您选择的食材信息如下：</span>
        <p>
        <table style="width: 700px;">
            <thead>
            <tr>
                <th>食材编号</th>
                <th>食材名称</th>
                <th>进货价</th>
                <th>库存</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="f:${food}">
                <td th:text="${f.getFood_id()}"></td>
                <td th:text="${f.getFood_name()}"></td>
                <td th:text="${f.getInprice()}"></td>
                <td th:text="${f.getStock()}"></td>
                <td>
                    <a th:href="@{'/toUpdateFood?id='+${f.getFood_id()}}">修改</a>
                    <a th:href="@{'/deleteFood?id='+${f.getFood_id()}}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/stock/view.do}" method="get">
            <button type="submit">返回主界面</button>
        </form>

    </div>
</main>
</body>
</html>