<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<title>更新食物信息</title>
<body>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <form th:action="@{/updateFood}" method="post">
        <div class="form-group">
            <input th:value="${food.get(0).getFood_id()}" type="hidden" name="food_id" class="form-control">
        </div>
        <!--<input type="" name="id" th:value="${user.getUser_id()}">-->
        <div class="form-group">
            <label>Food_Name</label>
            <input th:value="${food.get(0).getFood_name()}" type="text" name="food_name" class="form-control">
        </div>
        <div class="form-group">
            <label>Inprice</label>
            <input th:value="${food.get(0).getInprice()}" type="text" name="inprice" class="form-control">
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input th:value="${food.get(0).getStock()}" type="text" name="stock" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">修改</button>
    </form>
</main>

</body>

</html>