<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bootdemo.mapper.TableMapper">
    <select id="getTables" resultType="Table">
        SELECT * FROM tables
    </select>

    <update id="UpdataTable" parameterType="Table">
        UPDATE tables set table_norm = #{table_norm},table_site = #{table_site} WHERE table_id = #{table_id}
    </update>

</mapper>